doctype html
//
Striped by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title WrkTgthr by HTML5 UP
    | &#x9;&#x9;
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;&#x9;
    meta(name='description', content='')
    | &#x9;&#x9;
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    | &#x9;&#x9;
    script(src='js/jquery.min.js')
    | &#x9;&#x9;
    script(src='js/skel.min.js')
    | &#x9;&#x9;
    script(src='js/skel-layers.min.js')
    | &#x9;&#x9;
    script(src='js/init.js')
    | &#x9;&#x9;
    noscript
      link(rel='stylesheet', href='css/skel.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style-desktop.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style-wide.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  | &#x9;
  body.left-sidebar(style='background-color: #fff')
    header#demo-header
      .left
        h1
          span(style='color:#999') WrkTgthr
        |    
        ul.actions
          li
            a.button.popout.alt2.offsite.icon.icon-popout.solo(target='_blank', href='/Messenger.html/')
              span.label Pop Out
      .right
        .actions
          a.button.back.alt2(href='/') Notifications
          a.button.alt.download.on(href='file:///Users/thomaspassaro/Downloads/WrkTogetherApp-master-2/WrkTgthrCSSHTML/Login.html', data-name='striped', data-title='Striped') Login
    // Wrapper
    #loginwrapper
      // Content
      // <p>
      br
      br
      br
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;First Name: 
      center
        input(type='text', name='first', style='font-size:10px')
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Last Name: 
      center
        input(type='text', name='last', style='font-size:10px')
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Email: 
      center
        input(type='text', name='useremail', style='font-size:10px')
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Confirm Email: 
      center
        input(type='text', name='useremailC', style='font-size:10px')
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Password: 
      center
        input(type='password', name='userpassword', style='font-size:10px')
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Confirm Password: 
      center
        input(type='password', name='userpasswordC', style='font-size:10px')
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      br
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      center
        input(type='submit', value='Sign me up!')
        // </p>
    // Sidebar
    #sidebar
      // Logo
      h1#logo
        a(href='Home.html') HOME
      // Search
      section.box.search
        form(method='post', action='#')
          input.text(type='text', name='search', placeholder='Search')
      // Nav
      nav#nav
        ul
          li
            a(href='#') Shoulders
            ul
              li
                a(href='Deltoids.html') Deltoids
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='Traps.html') Traps
          li
            a(href='#') Chest
            ul
              li
                a(href='LowerChest.html') Lower Chest
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='UpperChest.html') Upper Chest
          li
            a(href='#') Back
            ul
              li
                a(href='LowerBack.html') Lower Back
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='UpperBack.html') Upper Back
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='Lats.html') Lats
          li
            a(href='#') Arms
            ul
              li
                a(href='Biceps.html') Biceps
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='Triceps.html') Triceps
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='ForearmsGrip.html') Forearms/Grip
          li
            a(href='#') Abdominals
            ul
              li
                a(href='LowerAbs.html') Lower Abdominals
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='UpperAbs.html') Upper Abdominals
          li
            a(href='#') Legs
            ul
              li
                a(href='Quads.html') Quadriceps
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='Hamstrings.html') Hamstrings
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='Calves.html') Calves
      // Recent Posts
      section.box.recent-posts
        header
          h2 My Profile
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        ul#Lifts
          li
            a(href='#') My Journal
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='#') My Friends
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='#') My Follows
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li
            a(href='#') Followers
      // -- Recent Comments
      section.box.recent-comments
        header
          h2 Recent Comments
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        ul
          li
            | case on 
            a(href='#') Lorem ipsum dolor
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li
            | molly on 
            a(href='#') Sed dolore magna
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li
            | case on 
            a(href='#') Sed dolore magna
      // Copyright
      ul#copyright
        li &copy; Untitled.
        li
          | Design: 
          a(href='http://html5up.net') HTML5 UP
