doctype html
//
Striped by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title WrkTgthr by Bronze V
    | &#x9;&#x9;
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;&#x9;
    meta(name='description', content='')
    | &#x9;&#x9;
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    | &#x9;&#x9;
    script(src='js/jquery.min.js')
    | &#x9;&#x9;
    script(src='js/skel.min.js')
    | &#x9;&#x9;
    script(src='js/skel-layers.min.js')
    | &#x9;&#x9;
    script(src='js/init.js')
    | &#x9;&#x9;
    noscript
      link(rel='stylesheet', href='css/skel.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style-desktop.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style-wide.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  //
    Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
    Set it to "right-sidebar" to, you guessed it, position it on the right.
  body.left-sidebar
    header#demo-header
      .left
        h1
          span(style='color:#999') WrkTgthr
        |    
        ul.actions
          li
            a.button.popout.alt2.offsite.icon.icon-popout.solo(target='_blank', href='/uploads/demos/striped/')
              span.label Pop Out
      .right
        .actions
          a.button.back.alt2(href='/') Notifications
          a.button.alt.download.on(href='Login', data-name='striped', data-title='Striped') Login
    // Wrapper
    #wrapper
      // Content
      #content
        .inner
          // Post
          article.box.post.post-excerpt
            header
              h2 Tricep Exercises
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p List of the most popular Tricep Exercises
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              h5
                | Submit your own tricep exercises 
                a(href='submit') here!
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ol(type='1')
              li
                h3 Exercise Name
                |  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 53
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 25
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 51
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 21
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 47
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 20
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 41
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 32
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 34
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 58
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 33
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 90
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 30
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 14
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 27
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 3
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 26
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 15
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                h3 Exercise Name
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.stats
                  li
                    a.icon.fa-heart(href='#') 24
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.icon.fa-comment(href='#') 12
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p Rating and Description
          // Pagination
          .pagination
            // <a href="#" class="button previous">Previous Page</a>
            .pages
              a.active(href='#') 1
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#') 2
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#') 3
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#') 4
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span &mldr;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(href='#') 20
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            a.button.next(href='#') Next Page
      // Sidebar
      #sidebar
        // Logo
        h1#logo
          a(href='Home') HOME
        // Search
        section.box.search
          form(method='post', action='#')
            input.text(type='text', name='search', placeholder='Search')
        // Nav
        nav#nav
          ul
            li
              a(href='#') Shoulders
              ul
                li
                  a(href='Deltoids') Deltoids
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='Traps') Traps
            li
              a(href='#') Chest
              ul
                li
                  a(href='LowerChest') Lower Chest
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='UpperChest') Upper Chest
            li
              a(href='#') Back
              ul
                li
                  a(href='LowerBack') Lower Back
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='UpperBack') Upper Back
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='Lats') Lats
            li
              a(href='#') Arms
              ul
                li
                  a(href='Biceps') Biceps
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='Triceps') Triceps
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='ForearmsGrip') Forearms/Grip
            li
              a(href='#') Abdominals
              ul
                li
                  a(href='LowerAbs') Lower Abdominals
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='UpperAbs') Upper Abdominals
            li
              a(href='#') Legs
              ul
                li
                  a(href='Quads') Quadriceps
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='Hamstrings') Hamstrings
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='Calves') Calves
        // Recent Posts
        section.box.recent-posts
          header
            h2 My Profile
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          ul#Lifts
            li
              a(href='#') My Journal
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') My Friends
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') My Follows
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Followers
        // Recent Comments
        section.box.recent-comments
          header
            h2 Recent Activity
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          ul
            li
              | case on 
              a(href='#') Lorem ipsum dolor
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              | molly on 
              a(href='#') Sed dolore magna
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              | case on 
              a(href='#') Sed dolore magna
        // Copyright
        ul#copyright
          li &copy; Untitled.
          li
            | Design: 
            a(href='http://html5up.net') HTML5 UP
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Team Bronze V:
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Darren Geng 
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li T.J Passaro 
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Rubin Thomas
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          li Thomas Kowalski
